
  <form [formGroup] = "userForm">
    <label>
      Sicil No:
      <input type="text" formControlName="sicilNo" required>
    </label>

    <label>
      Personel Kimlik No:
      <input type="text" formControlName="personelID" required>
    </label>

    <label>
      Adı:
      <input type="text" formControlName="firstName" required>
    </label>
  
    <label>
      Soyadı:
      <input type="text" formControlName="lastName">
    </label>

    <label>
      Adres:
      <input type="text" formControlName="address">
    </label>

    <label>
      Telefon No:
      <input type="text" formControlName="telNo">
    </label>


  </form>
  <hr>
  <p>
 <button type="button" class="btn btn-primary" (click)= "addItem()">Add</button>
  </p>



